body{
    background: rgb(228,247,242);
}
nav{
    margin-left: 55%;
}
/* nav ul{
    display: inline;
    font-weight: 45%;
} */
ul li{
    display: inline;
    margin-left: 10%;
    /* margin-top: -2%; */
    /* float: right; */
}

.image img{
    border-radius: 50%;
    border: 50px solid rgb(125, 122, 122);
    margin-left: 60%;
}
h3{
    color: #FFAC2B;
}




.img image{
    margin-left: 900%;
    margin-top: -8px;
    border-radius: 50%;
    background-color: beige;
    border: 50px solid gray;
    
}
.text p{
    margin-top:-5px;
    text-align:center;
    font-size:large
    font-color
    
}
.intro h2{
    font-size:xx-large;
    margin-bottom: 30px;
    text-align: center;

}
.column1{
background-color: rgb(171, 210, 210);
    display: flex;
}
.column2{
    display: flex;
    background-color: rgb(167, 240, 240);
}
.radiology{
    padding: 70px;
}
.Ambulance{
    padding: 70px;
}
.dentalcare{
    padding: 70px;
}
.surgical{
    padding:70px;
}
.Parturition{
    padding: 70px; ;
}
.pethostel{
    padding: 70px;
}
.branch{
    display: flex;
    background-color: aliceblue;
    border-width: 0px;
    border: 1px;
    margin-top: -2;
}
.footer{
    display:flex;
    padding: 1%;
    background-color: rgb(212, 240, 231);
}
.yourpet{
    margin-top: -80px;
    padding: 70px;
}
.blog input{
    margin-top: 2px;
    padding: 20px;
    width:400px;
    height: 10px;
    border-color: black;
  
}
.blog button{
    margin-left:-90px;;
}
.product{
    margin-top: -4%;
    padding :40px;

}
.COMMUNITY{
    margin-top: -30%;
    padding: 40px;
    margin-left: 90px;
    margin-bottom: 20px;
}
.ABOUT{
margin-top: -4%;
padding:40px;
margin-left: 5%;
}
.say{
    display: flex;
    margin-left: 20px;
}
#scores {
    margin-left: 90px;
}
.ppg3{
    display: flex;
    padding: 40px;
}
.best{

    display: flex;
    
}

.side{
    
    margin-bottom: 80px;
    margin-left: 20%;
    width: 500px;
    height: 10px;
    margin-top:270px;

}
.doc-img{
    display: flex;
}
.imag2 img{
    margin-left: 30%;
    margin-top: 24%;
}
.imag3{
    margin-left: 5%;
    margin-top: 5%;
}
.imag1{
    margin-left: 10%;
    margin-top: 5%;
} 
.par{
    margin-left: -1%;
    margin-top: 20%;
}
